/*

title: style.css
author: aman sharma

*/

html, body {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
    }

#home{
  height: 80%;
  width: 100%;
  max-height: 80%;
  padding: 0;
  background-color: red;
}

.text-center > h1{
  margin-top: 15%;
}
